* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
.nav {
  background-color: white;
  height: 110px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  padding: 20px;
  font-weight: 900;
}
.nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 33%;
  color: hsl(233, 8%, 62%);
  margin-top: 10px;
}
.nav ul li {
  transition: 0.6s;
}
.nav ul li:hover {
  text-decoration: underline limegreen;
  color: black;
  cursor: pointer;
}

.nav .logo {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 20px;
}
.request-btn {
  background: linear-gradient(
    117deg,
    hsl(136, 65%, 61%) 0%,
    hsl(192, 70%, 61%) 100%
  );
  outline: transparent;
  border: 2px transparent;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
  height: 45px;
  width: 200px;
}
.request-btn:hover {
  cursor: pointer;
}
/* section1 */
.sec1 {
  display: flex;
  height: 750px;
  background-color: hsl(220, 16%, 96%);
}
.sec1 img {
  width: 50%;
}
.sec1-left {
  width: 30%;
  margin: auto;
  text-align: left;
  height: 50%;
}
.sec1-heading,
.sec2-heading {
  font-size: 30px;
  padding: 20px 0;
}
.sec1 .request-btn {
  margin-top: 40px;
}
/* section2 */
.sec2 {
  background-color: hsl(220, 50%, 98%);
}
.sec2-intro {
  width: 40%;
  margin: 0px 0 30px 95px;
  padding: 20px;
  text-align: left;
}
.sec2-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
  text-align: left;
  margin: 0px 0 30px 95px;
  padding-left: 1px;
}
.box1 {
  width: 25%;
  padding: 20px;
  text-indent: 10px;
  text-align: center;
}
.box1-heading {
  font-size: 25px;
  margin-bottom: 10px;
}
